*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #006be0;
    --secondary-color: #54d204;
}

h1{
    font-size: 48px;
    line-height: 53px;
}

h2{
    font-size: 36px;
    line-height: 42px;
}

h3{
    font-size: 27px;
    line-height: 29px;
}

h4{
    font-size: 24px;
    line-height: 26px;
}

h5 {
    font-size: 21px;
    line-height: 24px;
}
p{
    font-size: 16px;
    line-height: 21px;
}
/* Header */

.header {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #FFFFFF;
}

.header .header__logo,
.header .header__navigation {
    display: inline-block;
}

.header .header__logo {
    margin-right: 30px;
}

.header .header__logo img {
    width: 220px;
}

.header .header__navigation ul li {
    display: inline-block;
    margin-right: 15px;
}

.header .header__navigation ul li:last-child {
    margin-right: 0px;
}

/* HERO */

.hero .hero__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.hero .title-section {
    color: var(--primary-color);
}

.hero .hero__image img {
    width: 440px;
}

/* MAIN - BENEFITS */

.benefits .container{
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 50vh;
    column-gap: 50px;
    align-items: center;
    transition: .5ms;
    margin-bottom: 50px;
}

.benefits .title-section{
    color: var(--primary-color);
}

.benefits .benefits__content p{
    margin-top: 10px;
}

/* SERVICES */
.services .container {
    display: grid;
    grid-template-columns: 30% 70%;
    column-gap: 20px;
}

.services__items{
    display: grid;
    grid-template-areas: 
    'a b'
    'c d';
    gap: 10px 20px;
}

.item__icon{
    display: flex;
    justify-content: flex-start;
}

.item{
    transition-duration: .5s; 
    margin: 0 auto;   
    border-radius: 10px;
    padding: 10px;
}

.item:hover{
    background-color: blue;
    color: white;
}

.lorem{
    margin-left: 20px;
    margin-top: -5px;
}





